<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alias %>
    <%= form.text_field :alias, id: :artist_alias %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :artist_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :artist_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :artist_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :artist_password %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :artist_street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :artist_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :artist_state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :artist_zipcode %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.url_field :website, id: :artist_website %>
  </div>

  <!-- <div class="field">
    <%= form.label :sales %>
    <%= form.text_field :sales, id: :artist_sales %>
  </div> -->

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone, id: :artist_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
