<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @artist.alias %>
</p>

<p>
  <strong>First name:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @artist.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @artist.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @artist.password %>
</p>

<p>
  <strong>Street:</strong>
  <%= @artist.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @artist.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @artist.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @artist.zipcode %>
</p>

<p>
  <strong>Website:</strong>
  <%= @artist.website %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @artist.sales %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @artist.phone %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
