<p id="notice"><%= notice %></p>

<h1>Arts</h1>

<table>
  <thead>
    <tr>
      <th>Genre</th>
      <th>Description</th>
      <th>Price</th>
      <th>Length</th>
      <th>Width</th>
      <th>Medium</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.genre %></td>
        <td><%= art.description %></td>
        <td><%= art.price %></td>
        <td><%= art.length %></td>
        <td><%= art.width %></td>
        <td><%= art.medium %></td>
        <td><%= art.artist %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
