<p id="notice"><%= notice %></p>

<h1>Galleries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Phone</th>
      <th>Opening</th>
      <th>Closing</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Artist</th>
      <th>Art</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.name %></td>
        <td><%= gallery.website %></td>
        <td><%= gallery.phone %></td>
        <td><%= gallery.opening %></td>
        <td><%= gallery.closing %></td>
        <td><%= gallery.street %></td>
        <td><%= gallery.city %></td>
        <td><%= gallery.state %></td>
        <td><%= gallery.zipcode %></td>
        <td><%= gallery.artist %></td>
        <td><%= gallery.art %></td>
        <td><%= link_to 'Show', gallery %></td>
        <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
        <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
